<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
        <td><a class="show_52153" href="/books/52153">Show</a></td>
        <td><a class="edit_52153" href="/books/52153/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_52153" rel="nofollow" data-method="delete" href="/books/52153">Destroy</a></td>
      </tr>
      <tr>
        <td>トラブル知らずのシステム設計</td>
        <td>システム設計の要点を図解で説明してくれます</td>
        <td><a class="show_52154" href="/books/52154">Show</a></td>
        <td><a class="edit_52154" href="/books/52154/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_52154" rel="nofollow" data-method="delete" href="/books/52154">Destroy</a></td>
      </tr>
      <tr>
        <td>たのしいRuby</td>
        <td>Rubyの入門におすすめです</td>
        <td><a class="show_52155" href="/books/52155">Show</a></td>
        <td><a class="edit_52155" href="/books/52155/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_52155" rel="nofollow" data-method="delete" href="/books/52155">Destroy</a></td>
      </tr>
      <tr>
        <td>入門Git</td>
        <td>gitについての基本操作から内部構造まで解説してくれます</td>
        <td><a class="show_52156" href="/books/52156">Show</a></td>
        <td><a class="edit_52156" href="/books/52156/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_52156" rel="nofollow" data-method="delete" href="/books/52156">Destroy</a></td>
      </tr>
      <tr>
        <td>アルゴリズム図鑑</td>
        <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
        <td><a class="show_52157" href="/books/52157">Show</a></td>
        <td><a class="edit_52157" href="/books/52157/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_52157" rel="nofollow" data-method="delete" href="/books/52157">Destroy</a></td>
      </tr>
      <tr>
        <td>達人プログラマー</td>
        <td>プログラマ入門者は必読！</td>
        <td><a class="show_52158" href="/books/52158">Show</a></td>
        <td><a class="edit_52158" href="/books/52158/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_52158" rel="nofollow" data-method="delete" href="/books/52158">Destroy</a></td>
      </tr>
      <tr>
        <td>データベース実践入門</td>
        <td>効率的なSQL文を教えてくれます</td>
        <td><a class="show_52159" href="/books/52159">Show</a></td>
        <td><a class="edit_52159" href="/books/52159/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_52159" rel="nofollow" data-method="delete" href="/books/52159">Destroy</a></td>
      </tr>
  </tbody>
</table>

<h1>New book</h1>

<%= form_with model: @book, local: true do |f| %>

<h4>Title</h4>
<%= f.text_field :title %>

<h4>Body</h4>
<%= f.text_area :body %>

<%= f.submit 'Create Book' %>
<% end %>